body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: blue; */
    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction:column;
  }
table, th, td {
  border:1px solid black;
}
.flextable {
    /* width: 80% */
    
}
.btn-containr{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
td, th {
  padding: 10px;
}